{# Plantilla base #}{% extends '../Website/layouts/base.html' %}
{# Cargar assets #}{% load static %}
{# Título de la página #} {% block title %}Inicio{% endblock %}

        {% block content %}
        <p>Inicio Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur accusantium enim nulla veniam quia maiores aut veritatis, cum exercitationem quos blanditiis reiciendis a id ab error impedit iure assumenda alias! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum exercitationem, aliquid vel iusto similique doloribus blanditiis labore maxime nam consequuntur asperiores ipsum facere quam? Minima minus voluptates ut nemo ex? Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, labore distinctio. Ullam tempore dolores obcaecati maiores, autem quod perspiciatis blanditiis quidem, laborum eaque, necessitatibus quis sequi consectetur praesentium commodi laboriosam!</p>
        {% endblock  %}