{# Plantilla base #}{% extends '../layouts/base.html' %}
{# Cargar assets #}{% load static %}
{# Título de la página #} {% block title %}Modificar usuario{% endblock %}

        {% block content %}
        <div class="center-container">
                <div class="center-container__title">
                    <h1>Modificar usuario</h1>
                </div>
                <br>
                {% with user_id=userMeta.user.id %}
                <form method="post" action="{% url 'website-ruta_update_user' user_id %}">
                {% endwith %}
                        <br>
                        <span class="subtitle">Información personal</span>
                        {# Rut #}
                        <div class="input-box">
                            {{form.rutField}}
                            <i id="check-rut" class="fa-solid fa-circle-check checkIconHidden"></i>
                        </div>
                        {# Nombre #}
                        <div class="input-box">
                            {{form.nameField}}
                            <i id="check-name" class="fa-solid fa-circle-check checkIconHidden"></i>
                        </div>
                        {# Apellido #}
                        <div class="input-box">
                            {{form.lastNameField}}
                            <i id="check-lastname" class="fa-solid fa-circle-check checkIconHidden"></i>
                        </div>
                        {# Correo electrónico #}
                        <div class="input-box">
                            {{form.emailField}}
                            <i id="check-email" class="fa-solid fa-circle-check checkIconHidden"></i>
                        </div>
                        {# Número de teléfono #}
                        <div class="input-box">
                            {{form.numberField}}
                            <i id="check-number" class="fa-solid fa-circle-check checkIconHidden"></i>
                        </div>
                        {# Perfil de usuario #}
                        <div class="input-box">
                            <select name="profile" id="selectProfile">
                                <option value="{{profile.id}}" selected>{{profile.name}}</option>
                                {% for prof in profiles %}
                                <option value="{{prof.id}}">{{prof.name}}</option>
                                {% endfor %}
                            </select>
                            <i id="checkSelectProfile" class="fa-solid fa-circle-check checkIconHidden"></i>
                        </div>
                        <br>
                        {% csrf_token %}
                        {# Caja de Botones #}
                        <div class="button-box2">
                            {# Botón - Crear #}
                            <button id="signup-form-button" class="button back_blue white" type="submit">Modificar usuario</button>
                            {# Botón - Volver #}
                            <button id="back_btn" class="button back_red white" type="button"><i class="fa-sharp fa-solid fa-delete-left"></i> Volver</button>
                        </div>
                </form>
        </div>
        {% endblock  %}