{% extends '../layouts/base2.html' %}
{# Cargar assets #}{% load static %}
{% block title %}Registrate{% endblock %}

        {% block content %}
        
        <div class="center-container">
            <div class="center-container__title">
                <h1>Registro completado</h1>
            </div>
            <div class="center-container__body">
                Su cuenta ha sido creada correctamente y se encuentra a la espera de que un superior le de aprobación. Cuando todo esté en orden, recibirás un mensaje en tu correo indicándote que ya puedes iniciar sesión
            </div>
        </div>

        {% endblock %}