{% extends '../layouts/base2.html' %}
{# Cargar assets #}{% load static %}
{% block title %}Registrate{% endblock %}

        {% block content %}
        <div class="access_form__card2">
            {# Encabezado formulario #}
            <div class="access_form__header">
                <img class="access_form__logo" src="{% static 'images/logo.webp' %}" alt="">
                <h3 class="access_form__name">Sistema de Inventario para la Segunda Compañía de Bomberos de Iquique</h3>
            </div>
            {# Título formulario #}
            <h1 class="access_form__title">Registrarse</h1>
            {# Contenido formulario #}
            <form id="signup-form" class="access_form__content2" action="{% url 'website-ruta_signup' %}" method="post">
                <div class="access_form__subcontent">
                    {# Rut #}
                    <div class="input-box">
                        <i class="fa-solid fa-id-card"></i>
                        {{form.rutField}}
                        <i id="check-rut" class="fa-solid fa-circle-check checkIconHidden"></i>
                    </div>
                    {# Nombre #}
                    <div class="input-box">
                        <i class="fa-solid fa-user"></i>
                        {{form.nameField}}
                        <i id="check-name" class="fa-solid fa-circle-check checkIconHidden"></i>
                    </div>
                    {# Apellido #}
                    <div class="input-box">
                        <i class="fa-solid fa-user" style="opacity: 0;"></i>
                        {{form.lastNameField}}
                        <i id="check-lastname" class="fa-solid fa-circle-check checkIconHidden"></i>
                    </div>
                    {# Correo electrónico #}
                    <div class="input-box">
                        <i class="fa-solid fa-envelope"></i>
                        {{form.emailField}}
                        <i id="check-email" class="fa-solid fa-circle-check checkIconHidden"></i>
                    </div>
                    {# Contraseña #}
                    <div class="input-box">
                        <i class="fa-solid fa-lock"></i>
                        {{form.passwordField}}
                        <i id="eye-slash-icon" class="fa-solid fa-eye-slash"></i>
                        <i id="check-password" class="fa-solid fa-circle-check checkIconHidden"></i>
                    </div>
                    {# Confirmar contraseña #}
                    <div class="input-box">
                        <i class="fa-solid fa-lock" style="opacity: 0;"></i>
                        {{form.confirmPasswordField}}
                        <i id="check-confirm_password" class="fa-solid fa-circle-check checkIconHidden"></i>
                    </div>
                    {# Número de teléfono #}
                    <div class="input-box">
                        <i class="fa-solid fa-phone"></i>
                        {{form.numberField}}
                        <i id="check-number" class="fa-solid fa-circle-check checkIconHidden"></i>
                    </div>
                </div>


                <div class="access_form__subcontent">
                    {# Perfil de usuario #}
                    <div class="input-box">
                        <i class="fa-solid fa-briefcase"></i>
                        <select name="profile" id="selectProfile"></select>
                        <i id="checkSelectProfile" class="fa-solid fa-circle-check checkIconHidden"></i>
                    </div>
                    <br>
                    {# Estación de bomberos #}
                    <span class="subtitle">Seleccionar Compañia</span>
                    {# Región #}
                    <div class="input-box">
                        <i class="fa-solid fa-map-location-dot"></i>
                        <select name="region" id="selectRegion"></select>
                        <i id="checkSelectRegion" class="fa-solid fa-circle-check checkIconHidden"></i>
                    </div>
                    {# Comuna #}
                    <div class="input-box">
                        <i class="fa-solid fa-map-location-dot" style="opacity: 0;"></i>
                        <select name="comune" id="selectComune"></select>
                        <i id="checkSelectComune" class="fa-solid fa-circle-check checkIconHidden"></i>
                    </div>
                    {# Estación #}
                    <div class="input-box">
                        <i class="fa-solid fa-warehouse"></i>
                        <select name="station" id="selectStation"></select>
                        <i id="checkSelectStation" class="fa-solid fa-circle-check checkIconHidden"></i>
                    </div>
                    {% csrf_token %}
                    {# Caja de Botones #}
                    <div class="button-box">
                        {# Botón - Crear #}
                        <button id="signup-form-button" class="btn_flex back_blue white" type="submit">Crear cuenta</button>
                        {# Botón - Volver #}
                        <button id="back_btn" class="btn_flex back_red white" type="button"><i class="fa-sharp fa-solid fa-delete-left"></i> Volver</button>
                    </div>
                </div>

            </form>
            {# Footer del formulario #}
            <div class="access_form__footer"></div>
        </div>
        {% endblock %}