{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <!--Estilos-->{% include 'Website/layouts/styles.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Título de la página-->
    <title>Inventario - {% block title %}{% endblock %}</title>
    <!--Descripción-->
    <meta name="description" content="Sistema de inventario diseñado para la Segunda Compañía de Bomberos de Iquique">
</head>

<body>
    
    <!--Flash-->{% include 'Website/layouts/flash.html' %}
    <!--Contenido-->
    <main class="main-box2">
        {% block content %}{% endblock %}
    </main>

    <!--Funciones JS-->{% include 'Website/layouts/scripts.html' %}
    
</body>

</html>